<table>
  <tr>
    <td>
      <% if false %>
      <div class="submit_comment_avatar"><%= render 'shared/avatar', user: current_user %></div>
      <% end %>
    </td>
    <td>
      <%= form_for(:comment, url: comments_path, remote: true) do |f| %>
        <div class="form-group">
          <div><%= hidden_field_tag :post_id, post_id %></div>
          <div class="comment_field">
            <%= f.text_area :content, cols: "1000", rows: "3",  placeholder: "Write a comment...", class: "comment_textarea_#{ post_id }" %>
          </div>
          <div>
            <%= f.submit "Post", class: "btn btn-primary post_button" %>
          </div>
        </div>
      <% end %>
    </td>
  </tr>
</table>
