<table>
    <tr>
      <% unless @page == "profile" %>
        <td>
          <div class="friend_request_avatar"><%= render 'shared/avatar', user: user %><div>
        </td>
      <% end %>

    <td>
      <% if @page != "profile" %>
          <div><%= link_to user.username, user, class:"username" %></div>
      <% end %>

      <%= form_for(current_user.active_requests.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :receiver_id, user.id %></div>
        <div><%= hidden_field_tag :page, @page %></div>
        <%= f.submit "Add Friend", class: "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
</table>
