<% if params[:id] == 0 %>
  <h1>Friends</h1>
  <%= render 'logged_in_profile_menu' %>
<%else %>
  <h1><%= link_to @user.username, @user %></h1>
  <%= render 'logged_in_profile_menu'%>
  <h3>Friends</h3>
<% end %>


<% if @friends[0].nil? %>
  <% if params[:id] == 0 %>
    You don't have friends yet. <%= link_to "Add More Friends?", suggestions_path %></div>
  <% else %>
    This person has no friends :(
  <% end %>
<% else %>
<ul class="friends">
  <%= render partial: "friend_button_together", collection: @friends, as: :user %>
</ul>
<% end %>
