<% if current_user.id == obj.user_id %>
    <% obj_name = obj.class.name.downcase %>
    <% obj_name = "post" if obj_name == "openstruct" %>
    <div class="dropdown <%= obj_name %>_nav">
    <button class="btn dropdown-toggle <%= obj_name %>_edit_button" type="button" data-toggle="dropdown">
    <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right" id="<%= obj_name %>_menu">
        <% if obj_name == "post" %>
            <li><%= link_to "Edit post", edit_post_path(obj.id) %></li>
            <li><%= link_to "Delete post", post_path(obj.id), method: :delete, data: { confirm: "are your sure?" } %></li>
        <% elsif obj_name == "comment" %>
            <li><%= link_to "Edit", show_edit_comment_window_path(id: obj.id), class: "btn btn-block edit_comment_button", remote: true %></li>
            <li><%= link_to "Delete", comment_path(obj.id), method: :delete, class: "btn btn-block delete_comment_button", remote: true %></li>
        <% end %>
    </ul>
    </div>
<% end %>
