<% if @page == "edit_post" %>
  <div style="float: right">
    <%= link_to "Delete post", post_path(@post.id), method: :delete, class: "btn btn-primary" %>
  </div>
<% end %>

<div class="logged-in-user-info">
  <div class="avatar">
    <%= render 'shared/avatar', user: current_user %>
  </div>
  <div class="current_user_username"><%= current_user.username %></div>
</div>

<div class="post-form">
  <%= form_for(@post, :html => { :multipart => true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, cols: "1000", rows: "6", placeholder: "Compose new post...", class: "form-control" %>
    </div>


    <div class="row">
      <%= f.fields_for :post_attachments,  @post.post_attachments.build do |p| %>
        <div class="col-xs-6">
          <%= f.file_field :picture, :multiple => true, name: "post[post_attachments_attributes][][picture]",
              class: "filestyle upload_file", :'data-input' => "false",
              :'data-buttonName' => "btn btn-primary", :'data-buttonText' => "Add Photos",
              :'data-buttonBefore' => "true", accept: 'image/jpeg,image/gif,image/png' %>
        </div>
      <% end %>

      <div class="col-xs-6">
        <%= f.submit "Post", class: "btn btn-primary post_button"%>
      </div>
    </div>
  <% end %>
</div>


<% if @post.post_attachments %>
  <br>
  <div class="picture_div">
    <%  @post.post_attachments.each do |att| %>
      <% unless att.picture.blank? %>
        <div class="thumbnails">
          <%= image_tag(att.picture.url(:thumb).html_safe, class: "picture") %>
          <%= link_to "Delete Photo", att, method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
