<div class="post", id="post_<%= post.id %>" >
  <% if current_user == post.user %>
    <div class="post_nav" >
      <nav>
        <ul class="nav navbar-nav navbar-right post_edit_button">
          <li class="dropdown" id="post_nav">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit post", edit_post_path(post) %></li>
              <li><%= link_to "Delete post", post, method: :delete, data: { confirm: "are your sure?" } %></li>
            </ul
          </li>
        </ul>
      </nav>
    </div>
  <% end %>

  <div class="post-info">
    <div class="avatar"><%= image_tag post.user.avatar.url(:thumb) %></div>
    <div class="post_user_info">
      <%= link_to post.user.username, post.user, class: "username" %>
      <% if post.created_at != post.updated_at %>
        <p class="updated_at">Updated <%= time_ago_in_words(post.updated_at) %> ago</p>
      <% else %>
        <p class="created_at"><%= time_ago_in_words(post.created_at) %> ago</p>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>

  <span class="post_content">
    <%= post.content %>
  </span>
  <% if !post.post_attachments.blank? %>
    <div class="picture_div">
      <%  post.post_attachments.each do |att| %>
        <span><%= image_tag att.picture_url, class: "picture" %></span>
      <% end %>
    </div>
  <% end %>


  <% unless @page == "individual_post" %>
    <div class="post_link"><%= link_to "Full post", post %></div>
  <% end %>

  <div class="like_counts_<%= post.id %>">
    <%= render "likes/like_count_sentence", post: post %>
  </div>

  <div class="post_footer">
    <table>
      <tr>
        <td>
          <div class="like_button_<%= post.id %>">
            <%= render 'likes/like_button', post: post %>
          </div>
        </td>
        <td>
          <div class="expand_comment_button"><span class="glyphicon glyphicon-comment"> <a>Comment</a></span></div>
        </td>
      </tr>
    </table>
  </div>

  <div class="comment_section" style="display:none;" >
    <div class="comment_form comment_form_<%= post.id %>">
      <%= render "comments/comment_form", post_id: post.id  %>
    </div>

    <div class="comments_of_post_<%= post.id %>">
      <%= render "comments/all_comments", comments: post.comments %>
    </div>
  </div>
</div>
