<div class="logged-in-user-info">
  <%= current_user.username %>
</div>

<div class="post-form">
  <%= form_for(@post) do |f| %>
    <div class="field">
      <%= f.text_area :content, cols: "1000", rows: "6", placeholder: "Compose new post..." %>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <%= f.file_field :picture, class: "filestyle upload_file", :'data-input' => "false",
            :'data-buttonName' => "btn btn-primary", :'data-buttonText' => "Photos",
            :'data-buttonBefore' => "true" %>
      </div>
      <div class="col-xs-6">
        <%= f.submit "Post", class: "btn btn-primary post_button"%>
      </div>
    </div>
  <% end %>
</div>
